@import './helpers/variables';
@import './base/slick';
@import './layout/header';
@import './layout/footer';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
a,
button,
table {
    font-family: 'Noto Sans JP', sans-serif;
}

button {
    cursor: pointer;
}

body {
    width: 100%;
    overflow-x: hidden;
    // background-color: #fcf7f4;
    background-color: #fff;

    &.prohibit_scroll {
        overflow-y: hidden;
    }
}

main {
    padding-top: 215px;
    max-width: 100vw;
    overflow: hidden;

    @media only screen and (max-width: 1199px){
        padding-top: 135px;
    }

    @media only screen and (max-width: 1024px) {
        padding-top: 75px;
    }
}

.container {
    max-width: 1199px;
    // padding-left: 20px;
    // padding-right: 20px;
}

img {
    -webkit-user-drag: none;
    user-drag: none;
    max-width: 100%;
}


.title {
    margin-bottom: 45px;
    
    h2 {
        text-align: center;
        margin-bottom: 30px;
        position: relative;
        &::before{
            content: '';
            width: 100%;
            height: 1px;
            background-color: #000;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            margin: auto;
        }
        .title_pic{
            background-color: #fff;
            position: relative;
            z-index: 1;
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
        }
        span {
            display: none;
        }
        img{
            max-height: 40px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    p{
        font-size: 16px;
        font-weight: 300;
        color: $text_content;
        letter-spacing: .2px;
        text-align: center;
        margin-top: 20px;
    }
}

.slick-list {
    width: 100%;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    padding: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 999px;
    border: none;
    text-align: center;
    background-color: $main_color;
    font-size: 0;
    transition: 0.6s;
    padding: 10px;

    &:hover {
        opacity: 0.8;
    }

    &::before {
        font-size: 24px;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #fff;
        position: relative;
        top: -4px;
    }

    &.slick-prev {
        left: 15px;
        box-sizing: border-box;
        &::before {
            content: url(../images/prev.svg) !important;
        }
    }

    &.slick-next {
        right: 15px;

        &::before {
            content: url(../images/next.svg) !important;
            
        }
    }
}

.slick-dots {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

    li {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 999px;
        border: none;
        background-color: $main_color;
        margin-left: 5px;
        margin-right: 5px;

        &.slick-active {
            opacity: 0.6;
        }

        button {
            display: none;
        }
    }
}

#darken {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: 0.6s;

    &.active {
        opacity: 1;
        pointer-events: auto;
    }
}

.fa-x {
    transform: scaleY(0.8);
}

#search_win {
    height: 100%;
    width: 100%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.95);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: 0.6s;

    &.active {
        opacity: 1;
        pointer-events: auto;
    }

    .search_win_input {
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        width: 100%;
        max-width: 1199px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 160px;
        position: relative;

        input {
            height: 65px;
            line-height: 65px;
            border: none;
            border-bottom: 1px solid #7e7e7e;
            // border-radius: 5px;
            background-color: transparent;
            padding: 0 65px 0 65px;
            font-size: 16px;
            box-sizing: border-box;
            width: 100%;
            font-size: 32px;

            &::placeholder {
                font-size: 32px;
            }
        }

        button {
            position: absolute;
            left: 10px;
            top: 10px;
            border-radius: 5px;
            height: 45px;
            width: 45px;
            box-sizing: border-box;
            border: none;
            background-color: transparent;

            i {
                color: #333;
                font-size: 24px;
            }
        }

        .off {
            position: absolute;
            right: 20px;
            top: 17.5px;
            font-size: 32px;
            color: #ccc;
            cursor: pointer;

        }
    }


}

#car_win {
    width: 400px;
    padding: 0 15px 15px 15px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    transition: 0.6s;
    transform: translateX(100%);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 1.5px;
        background: rgba(0, 0, 0, 0.06);
        -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 1.5px;
        background: rgba(0, 0, 0, 0.12);
        -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    }

    @media only screen and (max-width: 400px) {
        width: 100%;
    }

    &.active {
        transform: translateX(0);
    }

    #car_title {
        position: sticky;
        z-index: 1;
        top: 0;
        border-bottom: 1px solid #ccc;
        margin-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;

        h2 {
            font-weight: bolder;
            color: $text_content;

            font-size: 18px;

        }

        .off {
            font-size: 20px;
            cursor: pointer;
            color: $text_content;
        }
    }

    #car_win_content {
        .cwc_item {
            padding-top: 10px;
            padding-bottom: 30px;
            margin-bottom: 10px;
            display: flex;
            border-bottom: 1px solid #ccc;
            // align-items: flex-end;
            position: relative;

            .photo {
                width: 75px;
                height: 100px;
                margin-right: 10px;
            }

            .info {
                width: calc(100% - 65px - 65px);

                h3 {
                    letter-spacing: 1.5px;
                    width: 100%;
                    line-height: 1.5;
                    font-size: 16px;
                    margin-top: 5px;
                    margin-bottom: 15px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;

                    a {
                        color: $text_submain;
                    }
                }

                .qa {
                    letter-spacing: 0.8px;
                    padding-left: 5px;

                    .quantity {
                        font-size: 14px;
                        color: $text_submain;
                    }

                    i {
                        transform: scale(0.6) translateY(2.5px);
                        font-size: 12px;
                        display: inline-block;
                        margin-left: 2.5px;
                        margin-right: 2.5px;
                        color: $text_submain;
                    }

                    .amount {
                        font-size: 16px;
                        font-weight: bolder;
                        color: $text_content;
                    }
                }

            }



            .delete {
                position: absolute;
                right: 0;
                top: 15px;
                font-size: 14px;
                color: #7e7e7e;
                cursor: pointer;
            }
        }
    }

    #subtotal {
        margin-bottom: 10px;
        font-size: 16px;
        height: 30px;
        line-height: 30px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;

        .subtotal_amount {
            color: #f8796c;
        }
    }

    #lump_sum {
        background-color: #fff;
        width: 100%;
        border-top: 1px solid #ccc;

        a {
            margin-top: 30px;
            width: 100%;
            display: block;
            text-align: center;
            background-color: #202020;
            color: #fff;
            font-size: 20px;
            letter-spacing: 1.5px;
            padding: 15px 0;
            border-radius: 999px;
            transition: 0.6s;

            &:hover {
                opacity: 0.8;
            }
        }

        p {
            font-size: 14px;
            line-height: 1.5;
            margin-top: 30px;
            margin-bottom: 30px;
            color: $text_submain;
            letter-spacing: 1px
        }
    }
}

#banner_page{
    background-color: #fafafc;
    overflow: hidden;
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
    .container{
        .row{
            .col-12{
                padding-left: 0 !important;
                padding-right: 0 !important;
                height: 385px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .text{
                    padding-left: 15px;
                    padding-right: 15px;
                    position: absolute;
                    left: 15px;
                    top: 50%;
                    transform: translateY(-50%);
                    h2{
                        font-size: 56px;
                        font-weight: 400;
                        margin-bottom: 30px;
                        line-height: 1.2;
                        color: #333;
                    }
                    ul{
                        li{
                            display: inline-block;
                            a{
                                font-size: 16px;
                                font-weight: 400;
                                color: #999;
                            }
                            &+li{
                                &::before{
                                    content: "ã€‰";
                                    font-size: 12px;
                                    font-weight: 400;
                                    color: #999;
                                    margin-left: 7.5px;
                                }
                            }
                            &:last-child{
                                a{
                                    color: $text_submain;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// .icon{
//     &.icon_heart{
//         &::before{
//             content: '';
//             display: inline-block;
//             background-image: url(../images/heart.svg);

//         }
//     }
// }

.line{
    width: 100%;
    height: 1px;
    background-color: #ccc
}
@import './pages/home';
@import './pages/customized_list';
@import './pages/customized';
@import './pages/product_class';
@import './pages/product_list';
@import './pages/product';
// @import './pages/about';
@import './pages/shop_cart';
// @import './pages/download';
@import './pages/faq';
@import './pages/contact';
// @import './pages/login';
// @import './pages/privacy';
@import './base/animation';