<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HAN WORKS</title>
    <link rel="shortcut icon" href="../images/logo-2.png" />
    <link rel="stylesheet" href="../css/reset.css">
</head>

<body style="background: #181818;color: #fff;">
    <div style="position: relative;">
        <p style="color: #fff;font-size: 36px;text-align: center;margin-top: calc(50vh - 36px);">本網站已搬家，<a href="http://218.161.60.238/HanWorks/" style="color: #ccc;">【請點這裡進入連結】!</a></p>
    </div>
</body>

</html>