<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="test">

    </div>
    <script src="../js/jquery-1.9.0.min.js"></script>
    <script>
            $(document).ready(function () {
                $.ajax({
                    method: "GET",
                    url: "../js/data.json"
                })
                .done(function (msg) {
                    //console.log(msg);
                    //console.log("信箱",msg.results[0].email);
                    var email = msg.results[0].email;
                    $(".test").append(email);
                });
                
            });
        </script>
</body>
</html>