#about {
    background-color: #172745;
    color: #fff;

    position: relative;

    #background {
        top: 30vh;
        left: 0;
        right: 0;
        position: absolute;
        width: 100%;
        opacity: 0.05;
    }

    #banner {
        display: flex;
        flex-wrap: wrap;

        #about_text {
            margin-top: 90px;
            margin-bottom: 30px;
            padding-right: 90px;
            padding-left: 115px;
            box-sizing: border-box;
            width: 50%;

            @media only screen and (max-width: 1480px) {
                padding-right: 30px;
                padding-left: 30px;
            }

            @media only screen and (max-width: 1024px) {
                width: 100%;
                padding-right: 15px;
                padding-left: 15px;
                margin-top: 75px;
                margin-bottom: 75px;
            }

            h2 {
                font-size: 32px;
                margin-bottom: 60px;
                line-height: 1.5;

                @media only screen and (max-width: 1024px) {
                    text-align: center;
                    font-size: 24px;
                    margin-bottom: 30px;
                }
            }

            p {
                font-size: 26px;
                padding-bottom: 60px;
                line-height: 1.5;

                @media only screen and (max-width: 1024px) {
                    font-size: 16px;
                    padding-bottom: 15px;
                }
            }
        }

        #statement {
            position: relative;
            z-index: 1;
            padding-left: 90px;
            padding-right: 115px;
            box-sizing: border-box;
            width: 50%;
            padding-top: 245px;
            background-repeat: no-repeat;
            background-image: url(./assets/images/about/thought.jpg);

            @media only screen and (max-width: 1480px) {
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 235px;
            }

            @media only screen and (max-width: 1024px) {
                width: 100%;
                background-size: cover;
                padding-top: 75px;
                padding-bottom: 75px;
                padding-left: 15px;
                padding-right: 15px;
            }

            h2 {
                font-size: 46px;
                margin-bottom: 50px;
                line-height: 1.5;

                @media only screen and (max-width: 1024px) {
                    font-size: 32px;
                    margin-bottom: 30px;
                }
            }

            p {
                font-size: 32px;
                line-height: 1.5;

                @media only screen and (max-width: 1024px) {
                    font-size: 18px;
                }
            }
        }
    }

    #thought {
        padding-bottom: 150px;
        position: relative;
        @media only screen and (max-width: 1024px){
            padding-top: 75px;
            padding-bottom: 75px;
        }
        #line {
            width: 100%;
            @media only screen and (max-width: 1024px){
                display: none;
            }
        }

        .item {
            img {
                max-width: 349px;
                @media only screen and (max-width: 1480px){
                    max-width: 250px;
                }
                @media only screen and (max-width: 1024px){
                    max-width: 349px;
                    padding-left: 15px;
                    padding-right: 15px;
                    width: 100%;
                }
            }

            @media only screen and (min-width: 1025px) {
                position: absolute;
            }
            @media only screen and (max-width: 1024px){
                position: relative;
                z-index: 1;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                margin-top: 50px;
            }
            &.item1 {
                @media only screen and (min-width: 1025px) {
                    top: 30px;
                    left: 115px;
                }
                @media only screen and (max-width: 1024px){
                    margin-top: 0;
                }
            }

            &.item2 {
                @media only screen and (min-width: 1025px) {
                    top: -80px;
                    left: 42%
                }
            }

            &.item3 {
                @media only screen and (min-width: 1025px) {
                    top: 70px;
                    right: 115px;
                }
            }

            &.item4 {
                @media only screen and (min-width: 1025px) {
                    bottom: 50px;
                    left: 425px;
                    @media only screen and (max-width: 1480px){
                        left: 225px;
                    }
                }
            }

            &.item5 {
                @media only screen and (min-width: 1025px) {
                    bottom: 80px;
                    right: 425px;
                    @media only screen and (max-width: 1480px){
                        right: 225px;
                    }
                }
            }
        }
    }
}