#privacy{
    .wrapper{
        margin-top: 115px;
        margin-bottom: 115px;
        h2{
            font-size: 54px;
            text-align: center;
            color: $text_main;
            margin-bottom: 50px;
        }
        p{
            line-height: 1.5;
            font-size: 16px;
            margin-bottom: 30px;
        }
    }
}