#product_list {
    #cover{
        margin-top: 50px;
        .row{
            align-items: center;
        }
        pre{
            font-size: 14px;
            font-weight: bold;
        }
        h2{
            font-size: 48px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        p{
            font-size: 18px;
            font-weight: 300;
            font-style: normal;
            line-height: 1.75;
            color: $text_content;
        }
    }

    #best {
        overflow: hidden;
        padding-top: 100px;
        padding-bottom: 100px;

        // &.container {
        //     max-width: 1680px;
        // }

        .slick {
            .slick-arrow {
                &.slick-prev {
                    left: 0px;

                    @media only screen and (max-width: 1024px) {
                        left: 5px;
                    }
                }

                &.slick-next {
                    right: 0px;

                    @media only screen and (max-width: 1024px) {
                        right: 5px;
                    }
                }
            }

            .item {
                margin-bottom: 30px;
                .pic {
                    display: block;
                    overflow: hidden;
                    width: 100%;
                    height: 0;
                    padding-bottom: 100%;
                    background-color: #7e7e7e;
                    position: relative;

                    img {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        width: 100%;
                        height: 100%;
                        transition: 0.6s;

                        &.before {
                            opacity: 0;
                        }
                    }
                }

                .text {
                    position: relative;
                    box-sizing: border-box;
                    // padding-right: 50px;
                    text-align: center;
                    position: relative;
                    overflow: hidden;

                    h3 {
                        margin-top: 15px;
                        margin-bottom: 5px;
                        font-size: 16px;
                        font-weight: 300;
                        text-transform: none;
                        letter-spacing: .2px;
                        text-align: center;

                        a {
                            text-align: center;
                            text-overflow: ellipsis;
                            // display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            color: $text_content;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }

                    p {
                        // margin-bottom: 5px;
                        font-size: 16px;
                        font-weight: 600;
                        .original{
                            color: #ccc;
                            text-decoration:line-through;
                        }
                        .discount{
                            color: #e25c5c;
                        }
                    }

                    .add_heart {
                        cursor: pointer;
                        width: 35px;
                        height: 35px;
                        line-height: 35px;
                        text-align: right;
                        border-radius: 999px;
                        position: absolute;
                        right: 7.5px;
                        top: calc(50% - 12.5px);
                        transform: translateY(-50%);

                        i {
                            font-size: 20px;
                            color: #ccc;
                            transition: 0.6s;
                        }
                    }
                    
                    .effect{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: 0.6s;
                        transform: translateY(100%);
                        opacity: 0;
                        button{
                            overflow: hidden;
                            margin-top: 2px;
                            margin-left: 5px;
                            margin-right: 5px;
                            padding: 0;
                            border: none;
                            width: 48px;
                            height: 48px;
                            border-radius: 999px;
                            background-color: $text_content;
                            transition: 0.6s;
                            svg{
                                height: 16px;
                                
                                &.add_car{
                                    .cls-1{
                                        stroke:#fff
                                    }
                                }

                                &.heart{
                                    position: relative;
                                    top: 2.5px;
                                    .cls-2 {
                                        stroke: #fff;
                                    }
                                }
                            }
                            &:hover{
                                background-color: $text_submain;
                            }
                        }
                    }

                }

                .add {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 15px;

                    .quantity {
                        display: flex;
                        width: 100%;
                        max-width: 175px;
                        border-radius: 999px;
                        overflow: hidden;

                        button {
                            width: 58.5px;
                            height: 40px;
                            border: none;
                            // background-color: #f5eee6;
                            background-color: #8f8f8f;
                            font-size: 20px;
                            // color: $text_content;
                            color: #fff;
                            transition: 0.6s;

                            &:hover {
                                background-color: #ccc;
                            }
                        }

                        input {
                            width: calc(100% - 58.5px - 58.5px);
                            height: 40px;
                            border: none;
                            // background-color: #f5eee6;
                            background-color: #8f8f8f;
                            text-align: center;
                            font-size: 20px;
                            // color: $text_content;
                            color: #fff;
                        }
                    }

                    .add_car {
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        // background-color: #EF7853;
                        background-color: #8f8f8f;
                        cursor: pointer;
                        border-radius: 999px;
                        transition: 0.6s;
                        &:hover {
                            background-color: #ccc;
                        }

                        i {
                            color: #fff
                        }
                    }
                }

                &.like {
                    .text {
                        .add_heart {
                            i {
                                color: #e25c5c;
                            }
                        }
                    }
                }

                &:hover {
                    .pic {
                        img {
                            &.before {
                                opacity: 1;
                            }
                        }
                    }
                    .text{
                        .effect{
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .more {
            margin-top: 50px;
            margin-bottom: 100px;
            font-size: 24px;

            a {
                width: 200px;
                border: 3px solid $text_content;
                display: block;
                text-align: center;
                color: $text_content;
                height: 60px;
                line-height: 54px;
                margin-left: auto;
                margin-right: auto;
                transition: 0.6s;

                &:hover {
                    color: #fff;
                    background-color: $text_content;
                }
            }
        }
    }
}
