#shop_cart {
    #info {
        margin-top: 100px;
        margin-bottom: 100px;

        .table {
            width: 100%;

            .tr {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .td {
                    vertical-align: middle;
                    color: $text_content;
                    font-size: 16px;
                    font-weight: 300;

                    &:nth-child(1) {
                        padding-left: 15px;
                        width: 75px;
                        text-align: left;
                    }
                    &:nth-child(2){
                        width: calc(100% - 75px - (80px * 3));
                    } 
                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(5) {
                        width: 80px;
                        text-align: right;
                    }


                    &:nth-child(4) {
                        input {
                            height: 40px;
                            text-align: center;
                            margin-left: auto;
                            padding-left: 5px;
                            padding-right: 5px;
                            width: calc(100% - 30px);
                        }
                    }

                    &:nth-child(5) {
                        padding-right: 15px;
                    }
                }
            }

            .thead {
                @media only screen and (max-width: 1024px){
                    display: none;
                }
                .tr {
                    .td {
                        padding-bottom: 25px;
                    }
                }
            }

            .tbody {
                .tr {
                    margin-top: 15px;
                    box-shadow: 1px 1px 5px #ccc;
                    &:nth-child(1){
                        margin-top: 0;
                    }
                    
                    @media only screen and (max-width: 1024px){
                        flex-wrap: wrap;
                        padding: 15px;
                    }
                    .td {
                        display: block;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        

                        &:nth-child(1) {
                            button {
                                padding: 0;
                                width: 35px;
                                height: 35px;
                                border: none;
                                background-color: transparent;
                                border: 1px solid $text_content;
                                position: relative;
                                transition: 0.6s;
                                @media only screen and (max-width: 1024px){
                                    width: 100%;
                                    span{
                                        margin-bottom: 0;
                                        display: block;
                                        text-align: center;
                                        width: 100% !important;
                                    }
                                }
                                img {
                                    width: 24px;
                                    height: 24px;
                                    position: absolute;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    @media only screen and (max-width: 1024px){
                                        display: none;
                                    }
                                }

                                &:hover {
                                    background-color: rgb(249, 119, 119);
                                }
                            }
                            @media only screen and (max-width: 1024px){
                                order: 5;
                                padding-left: 0;
                            }
                        }

                        &:nth-child(2) {
                            @media only screen and (max-width: 1024px){
                                order: 1;
                            }
                            h3 {
                                font-size: 18px;
                                font-weight: 300;
                                padding-bottom: 10px;
                                border-bottom: 1px solid #ccc;
                                margin-bottom: 10px;
                                @media only screen and (max-width: 1024px){
                                    display: flex;
                                    justify-content: space-between;
                                    border-bottom: none;
                                    span{
                                        &.title{
                                            width: 100px;
                                            display: block;
                                            margin-bottom: 15px;
                                        }
                                    }
                                }
                            }

                            p {
                                font-size: 14px;
                                font-weight: 300;
                                color: $text_submain;
                                span{
                                    display: inline-block;
                                    padding: 5px 10px;
                                    background-color: rgb(238, 238, 238);
                                    margin-right: 5px;
                                    @media only screen and (max-width: 1024px){
                                        margin-top: 5px;
                                        margin-bottom: 5px;
                                    }
                                }
                            }
                        }

                        @media only screen and (max-width: 1024px){
                            &:nth-child(3){
                                order: 2;
                                text-align: right;
                            }
                            &:nth-child(4){
                                order: 3;
                                text-align: right;
                                input{
                                    width: 120px;
                                }
                            }
                            &:nth-child(5){
                                order: 4;
                                text-align: right;
                                padding: 0;
                            }
                        }

                        @media only screen and (max-width: 1024px){
                            width: 100%;
                        }
                    }
                }
            }
        }
        .discount{
            margin-top: 30px;
            width: 100%;
            background-color: #ccc;
            text-align: right;
            padding: 30px 15px;
            input{
                font-size: 16px;
                color: $text_content;
                height: 40px;
                padding: 0 15px;
                border: 1px solid $text_submain;
                @media only screen and (max-width: 480px){
                    width: 100%;
                    margin-bottom: 15px;
                }
            }
            button{
                background-color: rgba(18,148,71,1);
                width: 80px;
                height: 40px;
                font-size: 16px;
                border: 1px solid rgba(18,148,71,1);
                color: #fff;
                transition: 0.6s;
                &:hover{
                    opacity: 0.6;
                }
                @media only screen and (max-width: 480px){
                    width: 100%;
                }
            }
        }
        .ml-auto{
            margin-left: auto;
        }
        .totals{
            margin-top: 30px;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 15px;
            padding-right: 15px;
            border: 1px solid #ccc;
            h5{
                text-align: center;
                font-weight: 300;
                letter-spacing: 1px;
                font-size: 20px;
                margin-bottom: 30px;
            }
            .content{
                .item{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid #ccc;
                    line-height: 45px;
                    margin-bottom: 10px;
                    &:nth-child(1){
                        border-top: 1px solid #ccc;
                    }
                    .label{
                        font-size: 14px;
                        font-weight: 300;
                    }
                    .item_content{
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }

            .button{
                text-align: right;
                margin-top: 30px;
                button,a{
                    display: inline-block;
                    width: 100px;
                    text-align: center;
                    line-height: 45px;
                    height: 45px;
                    background-color: #129447;
                    font-size: 16px;
                    border: 1px solid #129447;
                    color: #fff;
                    transition: 0.6s;
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}

#shop_checkout{
    #info{
        margin-top: 100px;
        margin-bottom: 100px;
        #orderer_info{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            h3{
                width: 100%;
                font-size: 24px;
                letter-spacing: 1px;
                font-weight: 300;
                color: $text_content;
                margin-bottom: 20px;
            }
            .item{
                width: 100%;
                margin-top: 30px;
                label{
                    display: block;
                    width: 100%;
                    margin-bottom: 10px;
                    font-size: 16px;
                    color: $text_content;
                }
                input,select{
                    width: 100%;
                    box-sizing: border-box;
                    height: 40px;
                    border: 1px solid #ccc;
                    padding-left: 15px;
                    padding-right: 15px;
                    font-size: 16px;
                    color: $text_content;
                }

                textarea{
                    font-size: 16px;
                    box-sizing: border-box;
                    padding: 15px;
                    resize: none;
                    width: 100%;
                    height: 150px;
                    border: 1px solid #ccc;
                }

                &.w50{
                    width: calc(50% - 7.5px);
                }
            }
        }

        #order{
            padding: 30px;
            border: 1px solid #ccc;
            h4{
                font-size: 18px;
                font-weight: 300;
                color: $text_content;
                text-align: center;
                margin-bottom: 50px;
            }
            ul{
                li{
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #ccc;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    font-size: 16px;
                    font-weight: 300;
                    color: $text_content;
                    &:nth-child(1){
                        border-top: 1px solid #ccc;
                    }
                }
            }

            .pay_method{
                margin-top: 30px;
                padding: 15px;
                background-color: #ccc;
                .item{
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 300;
                    color: $text_content;
                    padding-top: 7.5px;
                    padding-bottom: 7.5px;
                    p{
                        height: 0;
                        overflow: hidden;
                        background-color: #fff;
                        margin-left: 2em;
                        line-height: 1.5;
                        position: relative;
                        transition: 0.6s;
                        
                        &::before{
                            content: '';
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 7.5px 10px 7.5px;
                            border-color: transparent transparent #ffffff transparent;
                            position: absolute;
                            left: 15px;
                            top: -10px;
                        }
                    }

                    &.active{
                        p{
                            overflow: unset;
                            padding: 15px;
                            margin-top: 15px;
                            height: auto;
                        }
                        
                    }
                }
            }

            .button{
                text-align: right;
                margin-top: 30px;
                button,a{
                    display: inline-block;
                    background-color: #129447;
                    width: 120px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    font-size: 16px;
                    border: 1px solid #129447;
                    color: #fff;
                    transition: 0.6s;
                    &:hover{
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}

#shop_complete{
    .container{
        margin-top: 250px;
        margin-bottom: 250px;
        .content{
            text-align: center;
            background-color: #ccc;
            padding: 50px;
            h2{
                font-size: 24px;
                font-weight: 300;
                color: $text_content;
                text-align: center;
                margin-bottom: 30px;
            }
            p{
                font-size: 16px;
                font-weight: 300;
                color: $text_content;
                text-align: center;
            }
        }
    }
}